
#beer-logo-bud{
    background: url(img/budlight.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
#beer-logo-coors{
    background: url(img/coors.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
#beer-logo-genny{
    background: url(img/genny.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
#beer-logo-miller-high{
    background: url(img/millerhigh.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
#beer-logo-rock{
    background: url(img/rollingrock.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
#beer-logo-pbr{
    background: url(img/pbr.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.logo{
    height: 10em;
    transition:.3s;
}
.logo:hover{
    height: 11em !important;
    margin-bottom: -1em;
}
a{
    cursor:pointer;
}

#zoneName{
    margin-bottom: 2em;
}
#select-label{
    margin-top: 0;
}
#beer-label{
    margin-top: 40px;
}
.jumbotron {
    padding-top: 24px;
    padding-bottom: 24px;
}
.ct-chart{
    margin-top:3em;
}